@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a8d3tv');
  src:  url('../fonts/icomoon.eot?a8d3tv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a8d3tv') format('truetype'),
    url('../fonts/icomoon.woff?a8d3tv') format('woff'),
    url('../fonts/icomoon.svg?a8d3tv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
